*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 166, 222);
   
}

.container{
    margin-top:100px;
    height:400px;
    width:400px;
    /* border:2px solid black; */
    border-radius: 5% 20% 5% 20%;
    background-color:whitesmoke;
    color:black;
    padding: 40px;
    line-height: 32px;
    
}
.container h2{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

.container h2 #i1{
    font-size: 20px;
   
}

.container #id1{
    margin-left:5px;
    margin-top: 50px;
}
.container #id2{
    margin-left:5px;
    margin-top: 50px;
}
.container #id3{
    margin-left:5px;
    margin-top: 50px;
}


.input1{
    margin-top:10px;
    height:50px;
    width:90%;
    border:1px solid black;
    border-radius: 20px;
    padding:10px;
}


.input2{
    margin-top:10px;
    height:50px;
    width:90%;
    border:1px solid black;
    border-radius: 20px;
    padding:10px;
}


.input3{
    margin-top:10px;
    height:50px;
    width:90%;
    border:1px solid black;
    border-radius: 20px;
    padding:10px;
}
